@font-face {
    font-family: ABCLaicaA-Medium-Trial;
    src: url("ABCLaicaA-Medium-Trial.otf");
         /* local("HelveticaNeue-Bold"),
         url(MgOpenModernaBold.ttf); */
    /* font-weight: bold; */
  }
@font-face {
    font-family: ABCLaicaA-Regular-Trial;
    src: url("ABCLaicaA-Regular-Trial.otf");
  }
@font-face {
    font-family: ABCLaicaA-RegularItalic-Trial;
    src: url("ABCLaicaA-RegularItalic-Trial.otf");
  }

body{
    font-family: 'ABCLaicaA-Regular-Trial', sans-serif;
     margin: 0; position: fixed; top: 0; right: 0; bottom: 0; left: 0; 
  }

.text-title{
    font-family: 'ABCLaicaA-Medium-Trial', sans-serif; 
}
.text-title-measure{
    font-family: 'ABCLaicaA-Medium-Trial', sans-serif; 
}

.text-farm{
    font-family: 'ABCLaicaA-RegularItalic-Trial', sans-serif; 
}

#front{
    border: 1px solid black;
    display: flex;
    /* flex-direction: column; */
}

#landing-page{
    display: flex;
  
    overflow: scroll;
}

#landing-page-left{
    background-color: #efefef;
    width: 20vw;
    height: 100vh;
    padding: 20px 40px;
   
}

#landing-page-right{
   
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    justify-content: center;
    align-items: center;

}